<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <img class="image-logo" src="img/kolopolonia.png">
                <h2 class="section-heading">Historia</h2>
                <hr class="light">
                <p class="text-faded"><span style="color: white">W 2017 roku trzech aktywnie działąjących kibiców Interu Mediolan postanowiło założyć fan klub o nazwie Setnik - nazwa wywowdzi się z połączenia dwóch nazw małych miejscowości w regionie Piemontu. Setnik pod swoją nazwą zrzesza kibiców Interu z takich miast jak Turyn, Mediolan Modena czy Nichelino. Od września 2018 stanowimy oficjalną cześć grupy Setnik działającej na terenie Polski. Stąd dopisek sezione Polonia. </span> </p>
                <h2 class="section-heading">Funkcjonowanie</h2>
                <hr class="light">
                <p class="text-faded"><span style="color: white">Nie tworzymy zwykłej grupy, tworzymy kolektyw. Regularnie organizujemy spotkania, wyjazdy na mecze, pomagamy w zakupie biletów na stadio Giuseppe Meazza oraz na mecze wyjazdowe. Tworzymy także swoje gadżety w postaci koszulek, szalików czy vlepek.   </span> </p>                
            </div>
        </div>
    </div>
</section>
