<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <img class="image-logo" src="img/kolopolonia.png">
                <h2 class="section-heading">Historia</h2>
                <hr class="light">
                <p class="text-faded"><span style="color: white">W 2017 roku trzech aktywnie działających kibiców Interu Mediolan postanowiło założyć fanklub o nazwie Setnik - nazwa wywodzi się z połączenia dwóch nazw małych miejscowości w regionie Piemontu. Setnik pod swoją nazwą zrzesza kibiców Interu z takich miast jak Turyn, Mediolan, Modena czy Nichelino. Od września 2018 stanowimy oficjalną cześć grupy Setnik działającej na terenie Polski. Stąd dopisek ''sezione Polonia''. </span> </p>
                <br>
                <h2 class="section-heading">Funkcjonowanie</h2>
                <hr class="light">
                <p class="text-faded"><span style="color: white">Regularnie organizujemy spotkania, na których śledzimy poczynania naszej drużyny oraz planujemy przyszłe aktywności grupy, takie jak wyjazdy na mecze zarówno domowe jak i w potyczkach na arenie całej europy. Celem naszych działań jest też pomoc w zakupie biletów na stadio Giuseppe Meazza oraz na mecze lig europejskich. Jako gospodarze na rodzimym stadionie zasiadamy zawsze na Primo Annelo Verde (Pierwszy zielony pierścień).  Tworzymy zgraną grupę gotową do działania i takich osób też poszukujemy. Wyróżniamy się też własnoręcznie projektowanymi gadżetami takimi jak koszulki, bluzy, szaliki i vlepki.  </span> </p>                
            </div>
        </div>
    </div>
</section>
