<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">O Nas</h2>
                <hr class="light">
                <p class="text-faded"><span style="color: white">W 2017 roku trzech aktywnie działąjących kibiców Interu Mediolan postanowiło założyć fan klub o nazwie Setnik - nazwa wywowdzi się z dwóch nazw małych miejscowości w regionie Piemontu. Setnik pod swoją nazwą zrzesza kibiców nie tylko z Piemontu a także z innych miast takich jak Mediolan i Modena. Od września 2018 stanowimy oficjalną cześć grupy Setnik działającej na terenie Polski. Stąd dopisek sezione Polonia. </span> </p>
                <a href="#" class="btn btn-default btn-xl">Button text</a>
            </div>
        </div>
    </div>
</section>
