<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Setnik Inter Club Polonia</h1>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus viverra sed purus ut laoreet. Maecenas vel gravida dolor. Aenean vitae urna orci. Praesent mollis aliquet tellus in varius. Nulla condimentum luctus placerat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean a lectus vitae est volutpat congue vitae sit amet justo. </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
