<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Inter Club Setnik</h1>
            <h1>Sezione Polonia</h1>
            <img src="img/logo.png">
            <hr>
            <p><span style="color: white">
            <b>Witamy na stronie Polskiej sekcji Inter Club Setnik </b><br>
            <b>Założony w 2017 rok fan klub kibiców Interu Mediolan, którego jesteśmy częścią od Września 2018 roku.</b>
                </p></span> 
            <a href="#about" class="btn btn-default btn-xl page-scroll">Więcej o nas</a>
        </div>
    </div>
</header>
