<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Inter Club Setnik</h1>
            <h1>Sezione Polonia</h1>
            <hr>
            <p>Witamy na stronie Polskiej sekcji Inter Club Setnik <br>
            Założony w 2017 rok fan klub kibiców Interu Mediolan z Piemontu, którego jesteśmy jego częścią od Września 2018 roku.
            Od 2019 roku przynależymy do Inter Club i działamy jako zarejestrowany fan klub.</p> 
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
