<section id="merch" class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>MERCH</h2>
        <hr class="light">
                <p class="text-faded"><span style="color: white"> Poniżej prezentujemy nasze aktualne produkcję. Osoby zainteresowane nabyciem prosimy o kontakt. Nowości pojawią wkrótce. </span> </p>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/merch/merch_1.jpg" class="img-responsive">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="gallery-item-name">
                                T-SHIRT SETNIK 2020
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/merch/merch_2.jpg" class="img-responsive">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="gallery-item-name">
                                VLEPKI
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/merch/merch_3.jpg" class="img-responsive">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="gallery-item-name">
                                T-SHIRT SETNIK 2019 / T-SHIRT OKAZJONALNY ODIO NAPOLI
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
