<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <img class="image-logo" src="img/kolo.png">
                <h2 class="section-heading">Członkostwo</h2>
                <hr>
                <p class="text-faded"><span style="color: #29293d"> Od początku sezonu 2019/2020 funkcjonujemy jako oficjalnie zarejstrowana grupa w Inter Club, czyli organizacji, która zrzesza fankluby Interu Mediolan z całego świata. Do grupy poszukujemy przede wszystkim osób aktywnych i zaangażowanych w naszą działalność. Zapisy do Nas odbywają się zawsze przed nowym sezonem. Jako członek grupy nie jesteś zobowiązany do członkostwa w IC, natomiast bez tego musisz liczyć się z brakiem kilku benefitów. Nie pobieramy składek za członkostwo, jedyną opłatą jest pobyt na cały sezon w Inter Club.   </span> </p>
                <hr class="light">
                <h2 class="section-heading">Benefity</h2>
                <hr>
                <p class="text-faded"><span style="color: #29293d"> Będąc w grupie uzyskujesz dostęp do naszych wewnętrznych czatów, możliwość jeżdżenia z nami na mecze nerazzurrich oraz zaproszenia na organizowane przez klub spotkania i eventy. Jeśli zapiszesz się do Inter Club, zyskasz także pierwszeństwo w dostępie do biletów, oraz zakupiesz je w korzystniejszej cenie. Dodatkowo w każdym sezonie dostajesz zestaw gadżetów od IC oraz zniżkę 10% na zakupy w Inter Store.
 </span> </p>
                <br>
                <a href="#portfolio" class="btn btn-primary btn-xl">Setnik na zdjęciach</a>
            </div>
        </div>
    </div>
</section>
