<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <img class="image-logo" src="img/kolo.png">
                <h2 class="section-heading">Członkostwo</h2>
                <hr>
                <p class="text-faded"><span style="color: #29293d"> Od początku sezonu 2019/2020 funkcjonujemy jako oficjalnie zarejstrowana grupa w Inter Club, czyli organizacji, która zrzesza fankluby Interu Mediolan z całego świata. Do grupy poszukujemy przede wszystkim osób aktywnych i zaangażowanych w naszą działalność, ponieważ  naszym celem jest wspieranie naszej drużyny na stadionie. Zdarza się także że bierzemy udział w akcjach charytatywnych. Zapisy do Nas odbywają się zawsze przed nowym sezonem. Jako członek grupy nie jesteś zobowiązany do członkostwa w Inter Club, natomiast bez tego musisz liczyć się z brakiem kilku benefitów. Nie pobieramy składek za członkostwo, jedyną opłatą jest opłacenie pobytu na cały sezon w Inter Club.   </span> </p>
                <hr class="light">
                <h2 class="section-heading">Benefity</h2>
                <hr>
                <p class="text-faded"><span style="color: #29293d"> Jako członek grupy uzyskujesz możliwość poznania zajebistych ludzi, pojechania z nimi na mecz, wspólnego oglądania spotkań w TV oraz zyskujesz dostęp do naszych gadżetów. Dodatkowo jako zarejestrowany członek Inter Club otrzymujesz benefity w postaci pierwszeństwa w biletach oraz ich lepsze ceny. Oprócz tego w każdym sezonie dostajesz mały zestaw kibica oraz otrzymujesz zniżkę na zakupy w Inter Store. </span> </p>
                <br>
                <a href="#portfolio" class="btn btn-primary btn-xl">Setnik na zdjęciach</a>
            </div>
        </div>
    </div>
</section>
