<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <img src="img/kolo.png">
                <h2 class="section-heading">Członkostwo</h2>
                <p class="text-faded"><span style="color: #29293d">Od początku sezonu 2019/2020 funkcjonujemy jako oficjalnie zarejstrowany fan klub w Inter Club, czyli organizacji, która zrzesza fankluby Interu Mediolan z całego świata. Zapisy odbywają się zawsze przed rozpoczęciem nowego sezonu.</span> </p>
                <h2 class="section-heading">Benefity</h2>
                <hr class="light">
                <p class="text-faded"><span style="color: #29293d"> Jako członek grupy uzyskujesz możliwość poznania zajebistych ludzi, pojechania z nimi na mecz, wspólnego oglądania spotkań w TV oraz zyskujesz dostęp do naszych gadżetów. Dodatkowo jako zarejestrowany członek Inter Club otrzymujesz benefity w postaci pierwszeństwa w biletach oraz ich lepsze ceny. Oprócz tego w każdym sezonie dostajesz mały zestaw kibica oraz otrzymujesz zniżkę na zakupy w Inter Store. </span> </p>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            
        </div>
    </div>
</section>
